

<p>Note: Regarding Roles the heirarchy is:
    <br>
    0 = No Role
    <br>
    1 = Group Assistant
    <br>
    2 = Group Admin
    <br>
    3 = Super Admin
</p>

<p>ID cannot be edited</p>

ID:
<br>
<input type="number" [(ngModel)]="userid">
<br>

Username:
<br>
<input type="string" [(ngModel)]="username">
<br>

Email:
<br>
<input type="email" [(ngModel)]="useremail">
<br>


Role:
<br>
<input type="number" [(ngModel)]="userrole">
<br>


Group:
<br>
<input type="string" [(ngModel)]="groupname">
<br>

Room:
<br>
<input type="string" [(ngModel)]="roomname">
<br>

<br>

<button (click)="createUser()">Create User</button>
<br>
<br>
<button (click)="editUser()">Edit User</button>
<br>
<br>
<button (click)="deleteUser()">Delete User</button>
<br>
<br>
<button (click)="createGroup()">Create Group</button>
